NETDISK_TRANSFER_TARGET_ROOT="/公众号软件"
NETDISK_TRANSFER_RENAME_PREFIX="【公众号：涤生AGI】"

# 夸克网盘
NETDISK_TRANSFER_QUARK_COOKIE=""
NETDISK_TRANSFER_QUARK_SHARE_URL_TYPE="2"
NETDISK_TRANSFER_QUARK_SHARE_EXPIRED_TYPE="4"
NETDISK_TRANSFER_QUARK_SHARE_PASSCODE=""

# 百度网盘
NETDISK_TRANSFER_BAIDU_COOKIE=""
NETDISK_TRANSFER_BAIDU_SHARE_PERIOD="0"
NETDISK_TRANSFER_BAIDU_SHARE_PASSCODE=""

# UC网盘
NETDISK_TRANSFER_UC_COOKIE=""
NETDISK_TRANSFER_UC_SHARE_URL_TYPE="1"
NETDISK_TRANSFER_UC_SHARE_EXPIRED_TYPE="4"
NETDISK_TRANSFER_UC_SHARE_PASSCODE=""

# 迅雷网盘
NETDISK_TRANSFER_XUNLEI_REFRESH_TOKEN=""
NETDISK_TRANSFER_XUNLEI_ACCESS_TOKEN=""
NETDISK_TRANSFER_XUNLEI_ACCESS_TOKEN_EXPIRES_AT=""
NETDISK_TRANSFER_XUNLEI_CAPTCHA_TOKEN=""
NETDISK_TRANSFER_XUNLEI_CAPTCHA_TOKEN_EXPIRES_AT=""
NETDISK_TRANSFER_XUNLEI_CLIENT_ID="Xqp0kJBXWhwaTpB6"
NETDISK_TRANSFER_XUNLEI_DEVICE_ID="925b7631473a13716b791d7f28289cad"
NETDISK_TRANSFER_XUNLEI_CAPTCHA_ACTION="GET:/drive/v1/share"
NETDISK_TRANSFER_XUNLEI_SHARE_EXPIRATION_DAYS="-1"
